<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>354085395529-h3e6m6itmftgmg2nj83kbiu5f33flq7e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.354085395529-h3e6m6itmftgmg2nj83kbiu5f33flq7e</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>354085395529-kkqte3kg7sog0strg1sjjrj79q5ogma9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCZ2CVR0Md05qWAZlPSsrSzBQ8y7l7odjE</string>
	<key>GCM_SENDER_ID</key>
	<string>354085395529</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myParty</string>
	<key>PROJECT_ID</key>
	<string>my-party-9cbe5</string>
	<key>STORAGE_BUCKET</key>
	<string>my-party-9cbe5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:354085395529:ios:1728ab9a0c0a3927b2b398</string>
</dict>
</plist>